* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
button {
  border: none !important;
  outline: none !important;
}
body {
  direction: rtl;
  font-family: 'Vazir Light';
  background-color: #e5e5e5;
}
.my-container {
  width: 90%;
  margin: 0 auto;
}
.w-80 {
  max-width: 80% !important;
}
.btn-record {
  background-color: #ffa10b;
  color: white !important;
  border-radius: 15px !important;
}
.btn-record:hover {
  background-color: #ffa10bb4;
}
.btn-login {
  background-color: #1750ff;
  color: white !important;
  border-radius: 15px !important;
}
.b-nav {
  background-image: url('../img/Rectangle37.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
}
.b-nav-items {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 0;
  margin: 0 30px;
}
.input-items {
  border: 1px solid #e5e5e5 !important;
  border-radius: 15px;
  padding: 5px 0 !important;
}
.input-item {
  outline: none !important;
  border: none !important;
}
.input-item::placeholder {
  font-size: 13px;
}
.icon-pre {
  background-color: transparent !important;
  border: none;
  color: #e5e5e5;
}
.label {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #282b31;
}
.my-btn {
  align-items: center;
  margin-bottom: 16.5px;
  font-size: 16px;
  color: #fff;
}
.btn-login:hover {
  background-color: #1751ffc9;
}
.my-card {
  width: 165px;
  height: 165px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}
.para-card {
  font-size: 14px;
  color: #575a7a;
}
.tittle-font {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #282b31;
}
.tittle-font2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #282b31;
}
.b-redius {
  border-radius: 15px;
}

.my-card-2 {
  padding: 20px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.my-card-3 {
  padding: 20px;
  background-color: #ffffff;
}
.font-title-body {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
}
.font-text-body {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #575a7a;
}
.my-btn-1 {
  background: #1750ff;
  border-radius: 15px;
  color: #fff;
}
.resume {
  padding-top: 120px;
}
.resume-items {
  display: flex;
}
.resume-img {
  width: 390px;
  height: 350px;
}
.resume-title {
  font-family: 'Vazir Bold';
  font-size: 36px;
  line-height: 20px;
  color: #282b31;
}
.resume-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #575a7a;
}
.my-btn-2 {
  width: 290px;
  height: 50px;
  background: #fff6de;
  border-radius: 15px;
  color: #ffa10b;
  font-size: 14px;
  outline: #ffa10b !important;
  border: none !important;
}
.line-row {
  border-top: 2px solid #cccccc;
}
.top-nav-title {
  font-family: 'Vazir Bold';
  font-size: 20px;
  line-height: 20px;
  color: #282b31;
}
.top-nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #575a7a;
}
.my-card-4 {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  margin-left: 30px;
}
.my-card-4-title {
  font-style: normal;
  font-family: 'Vazir Bold';
  font-size: 16px;
  line-height: 20px;
  color: #575a7a;
}
.my-card-4-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #575a7a;
}
.my-bg-light {
  background-color: #ffffff;
}
.my-footer {
  margin-top: 100px;
  padding-top: 50px;
}
.footer-title {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #282b31;
}
.footer-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #575a7a;
}
.footer-txt:hover {
  color: black;
}
/* .footer-img {
 padding: 20px;
} */
.telegram {
  color: #000000;
  transition: 0.3s;
}
.telegram:hover {
  color: #33aae0;
}
.insta {
  color: #000000;
  transition: 0.3s;
}
.insta:hover {
  color: #de4570;
}
.linkdin {
  color: #000000;
  transition: 0.3s;
}
.linkdin:hover {
  color: #0073b1;
}
.whatsup {
  color: #000000;
  transition: 0.3s;
}
.whatsup:hover {
  color: #4ecd5c;
}
.login-card {
  border-radius: 15px;
  width: 40%;
  margin: 100px auto;
  padding: 20px;
}
.top-login-card {
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
}
.login-title {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.my-input {
  display: flex;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e0e0ec;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
}

.btn-login2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1750ff;
}
.verification-code {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: #1750ff;
  border-radius: 15px;
  color: #ffffff !important;
  padding: 10px 30px;
  cursor: pointer;
}
.login-employer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffa10b;
  background: #fff6de;
  border-radius: 15px;
  padding: 10px 80px;
}
.register-employer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background: #ffa10b;
  border-radius: 15px;
  padding: 10px 80px;
}
.my-orange {
  background-color: #ffa10b;
}
.my-bluesky {
  background-color: #dee6ff;
}
.text-blue {
  color: #1750ff;
}
.my-blue {
  background-color: #1750ff;
  color: #fff;
}
.btn-login3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1750ff;
}
.timer {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #575a7a;
}
.my-qray {
  color: #575a7a;
}
.dropdown {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  color: #575a7a;
  /* padding: 0 0 0 60px; */
}
.dropdown:hover {
  font-size: 16px;
  color: #575a7a;
}
.myred {
  color: red;
}
.my-post-card {
  width: 70%;
  margin: 50px auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 15px;
}
.in-card {
  width: 95%;
  margin: 20px auto 70px;
}
.post-title1 {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #282b31;
}
.post-l {
  font-size: 14px;
  line-height: 20px;
  color: #575a7a;
  cursor: pointer;
}
.label-post {
  font-family: 'Vazir Bold';
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  color: #575a7a;
}
.post-cash {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #575a7a;
}
.success-post {
  background: #50d86a;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 25px;
  transition: 0.3s;
  cursor: pointer;
}
.success-post:hover {
  color: #ffffff;
  background-color: #50d869c7;
}
.ck-editor__editable {
  min-height: 200px !important;
}
.my-top-bg {
  background-color: #00bcd4;
}
.my-plus {
  color: white;
  background-color: #ffa10b;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.my-plus:hover {
  color: #ffffff;
}
.my-bell {
  color: #fff;
}
.my-bell:hover {
  color: #ffffff;
}
.my-badge11 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  padding: 10px;
  z-index: 999;
  width: 10px;
  height: 15px;
  font-size: 14px;
}
.white {
  color: #ffffff !important;
}
.black {
  color: #000000;
}
.backGrund-white {
  background-color: #ffffff;
}

.employer-topnav {
  padding: 10px 20px;
  background-color: #0ae3ff;
  border-radius: 5px;
}
.my-arrow {
  background-color: #00bcd4;
  border-radius: 10px;
}
.main-head-employee {
  width: 80%;
  margin: 50px auto;
  padding: 10px 0;
  border-radius: 10px;
}
.is-active {
  color: #00bcd4;
}
.press {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #575a7a;
}
.press2 {
  border: 1px solid #e0e0ec;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
}
.press3 {
  border: 1px solid #e0e0ec;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
}
.press2:hover {
  color: #575a7a;
}
.press3:hover {
  color: #575a7a;
}
.press-select {
  border: 1px solid #e0e0ec;
  border-radius: 5px;
  padding: 3px 5px;
}
.normal-font {
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #575a7a;
}
.normal-font2 {
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #575a7a;
}
.bold-font {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #575a7a;
}
.btn-record2 {
  color: #ffffff;
  padding: 6px 10px;
  background-color: #ffa10b;
  border-radius: 5px;
}
.btn-record2:hover {
  color: #ffffff;
}
.my-search {
  border: 1px solid #575a7a;
  border-radius: 5px;
}
.search-btn {
  background-color: transparent;
  outline: none;
  color: #e0e0ec;
  font-size: 20px;
  cursor: pointer;
}
.btn-box {
  z-index: 9999;
  margin-bottom: -33px;
}
.press-card {
  border: 1px solid #e0e0ec;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}
.press4 {
  border: 1px solid #e0e0ec;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f6f6f6;
  cursor: pointer;
}

.txt {
  color: #a6adb1;
}
.bookmark {
  font-size: 20px;
  cursor: pointer;
}
.my-badge {
  font-family: 'Vazir Bold';
  font-style: normal;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: -5px;
}
.my-badge1 {
  color: #1750ff;
  background-color: #dee6ff;
}
.txt-1 {
  color: #1750ff;
}
.my-badge2 {
  color: #ffa10b;
  background-color: #fff6de;
}
.txt-2 {
  color: #ffa10b;
}
.my-badge3 {
  color: #50d86a;
  background-color: #deffe5;
}
.txt-3 {
  color: #50d86a;
}
.img-brand2{
  width: 35px;
  height:35px
}
